/*Search bar at the top of all screens*/
body {
  background: #FFFFFD;
  background-position: center;
}

.leftborder{
  border-left: solid 3px black; 
  float: right;
}

.rightborder{
  border-right: solid 3px black; 
}

.navitem {
  height: 25px;
  transition: all 0.3s linear;
  width: 190px;
  z-index: -1;
}

.navitem:hover {
  height: 400px;
  transition: all 0.3s linear;
}


.navbar {
  list-style-type: none;
  width: 1192px;
  border-top: solid 3px black;
  margin-top: -9px;
  margin-left: 141px;
  padding-left: 0;
  z-index: 3;
  position: absolute;
}

.navbar li {
  display:inline-block;
  padding: 5px;
  color: black;
  font-family: arial;
  font-weight: bold;
}

.navbar li a{
  color: black;
  font-family: arial;
  position: relative;
  left: 0%;
  width: 98.5%;
  font-size: 17px;
  text-align: center;
  background: transparent;
  border: 1px solid transparent;
}

input {
  line-height: normal;
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.3s linear;
}

input:hover {
  opacity:0.5;
  transition: all 0.3s linear;
}

::-webkit-input-placeholder {
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 17px;
}

/*.image {
  background-image: url("http://www.iconsdownload.net/icons/24/6606-light-bulb-off.png");
  position: absolute;
  height: 64px;
  width: 53px;
  right: 578px;
  transform: rotate(180deg);
}

.image1 {
  background-image: url("http://www.iconsdownload.net/icons/24/6606-light-bulb-off.png");
  position: absolute;
  height: 64px;
  width: 53px;
  right: 374px;
  transform: rotate(180deg);
}

.image2 {
  background-image: url("http://www.iconsdownload.net/icons/24/6606-light-bulb-off.png");
  position: absolute;
  height: 64px;
  width: 53px;
  right: 171px;
  transform: rotate(180deg);
}*/

/*Bottom bar at the bottom of all screens*/

.container.main{
  z-index: 0;
  position: fixed;
  width: 1170px;
  height: 100%;
  width: 100%;
  top: 0%;
}

.glass {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0A516D;
  -webkit-filter: url('#blur');
  filter: url('#blur');
  -webkit-filter: blur(0px);
  filter: blur(0px);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  top: 88%;
  left: 30px;
  border-radius: 20px;
  z-index: 1000;
}

.preload * {
  transition: none !important;
}

.glass.up, .glass.up::before {
  transform: translateY(0);
  transform: translateY(0) translateZ(0);
}

.glass, .glass::before {
  transition: all 0.5s ease-out
}

.up {
  top: 113px;
  height: 100%;
  transition: all 0.5s ease-out
}

.toggle {
  position: absolute;
  left: -4px;
  top: -30px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/double-chevron-up.svg');
  content: ' ';
  display: block;
  width: 5.7rem;
  height: 6rem;
  opacity: 0.9;
  cursor: pointer;
  transition: transform 0.3s ease-out 0.1s;
}

.aftertoggle {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out 0.5s; 
}

.togglebottom {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  background-color: #FFFFFD;
  bottom: 2px;
  left: 20px;
  opacity: 1;
  z-index: 1;
  margin-left: -10px;
  transition: all 0.5s ease-out;
}

.side {
  z-index: -1;
  position: absolute;
  width: 56px;
  height: 70px;
  border: solid 3px #FFFFFD;
  left: 1.1%;
  top: 8px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.sideup {
  height: 575px;
  transition: all 0.5s ease-out
}

/*logo for index page*/

.curved-text {
position: absolute;
color: #2A2829;
font-family: arial;
font-size: 60px;
left: -45px;
top: 340px;
width: 100%;
text-align: center;
transition: transform 0.5s ease-out;
}

.curved-text-under {
position: relative;
color: #2A2829;
font-family: arial;
font-size: 60px;
left: 50px;
top: 400px;
width: 100%;
text-align: center;
transition: transform 0.5s ease-out;
}


.left_side {
position: relative;
width: 259px;
height: 3px;
top: 322px;
right: -3px;
margin: auto;
border-style: solid;
border-color: #2A2829;
background: #2A2829;
transition: transform 0.5s ease-out;
}


.right_side {
position: relative;
width: 85px;
height: 44px;
left: -84px;
top: 326px;
margin: auto;
border-style: solid;
background: #2A2829;
border-color: #2A2829;
transition: transform 0.5s ease-out;
}


.outer-rim {
position: relative;
width: 85px;
height: 44px;
left: 89px;
top: 222px;
margin: auto;
background: #2A2829;
transition: transform 0.5s ease-out
}




