/*Search bar at the top of all screens*/
body {
  background: #FFFFFD;
  background-position: center;
}

.leftborder{
  border-left: solid 3px black; 
  float: right;
}

.rightborder{
  border-right: solid 3px black; 
}

.navitem {
  height: 25px;
  transition: all 0.3s linear;
  width: 190px;
  z-index: -1;
}

.navitem:hover {
  height: 276px;
  transition: all 0.3s linear;
}


.navbar {
  list-style-type: none;
  width: 1192px;
  border-top: solid 3px black;
  margin-left: 90px;
  padding-left: 0;
  margin-top: 10px;
  z-index: 3;
  position: fixed;
  border-radius: 0;
}

.navbar li {
  display:inline-block;
  padding: 5px;
  color: black;
  font-family: arial;
  font-weight: bold;
}

.navbar li a{
  color: black;
  font-family: arial;
  position: relative;
  left: 0%;
  width: 98.5%;
  font-size: 17px;
  text-align: center;
  background: transparent;
  border: 1px solid transparent;
}

input {
  line-height: normal;
  background: transparent;
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.3s linear;
}

input:hover {
  opacity:0.5;
  transition: all 0.3s linear;
}

.menu {
  color: #FFF;
  height: 2em;
  padding: .5em;
  position: absolute;
  top: 0px;
  width: 100%;
}

.fixed {
  position: absolute;
  top: 22px;
}


/*.image {
  background-image: url("http://www.iconsdownload.net/icons/24/6606-light-bulb-off.png");
  position: absolute;
  height: 64px;
  width: 53px;
  right: 578px;
  transform: rotate(180deg);
}

.image1 {
  background-image: url("http://www.iconsdownload.net/icons/24/6606-light-bulb-off.png");
  position: absolute;
  height: 64px;
  width: 53px;
  right: 374px;
  transform: rotate(180deg);
}

.image2 {
  background-image: url("http://www.iconsdownload.net/icons/24/6606-light-bulb-off.png");
  position: absolute;
  height: 64px;
  width: 53px;
  right: 171px;
  transform: rotate(180deg);
}*/

/*Bottom bar at the bottom of all screens*/

.container.main{
z-index: 0;
position: fixed;
width: 1170px;
height: 15%;
width: 100%;
top: 85%;
}

.glass {
position: absolute;
height: 100%;
width: 100%;
background: #0A516D;
-webkit-filter: url('#blur');
filter: url('#blur');
-webkit-filter: blur(0px);
filter: blur(0px);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
opacity: 1;
top: 20%;
left: 30px;
border-radius: 20px;
z-index: 1000;
}

.preload * {
  transition: none !important;
}

.glass.up, .glass.up::before {
  transform: translateY(0);
  transform: translateY(0) translateZ(0);
}

.glass, .glass::before {
  transition: all 0.5s ease-out
}

.up {
  top: 113px;
  height: 100%;
  transition: all 0.5s ease-out
}

.toggle {
  position: absolute;
  left: -4px;
  top: -30px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/double-chevron-up.svg');
  content: ' ';
  display: block;
  width: 5.7rem;
  height: 6rem;
  opacity: 0.9;
  cursor: pointer;
  transition: transform 0.3s ease-out 0.1s;
}

.aftertoggle {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out 0.5s; 
}

.togglebottom {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  background-color: #FFFFFD;
  bottom: 2px;
  left: 20px;
  opacity: 1;
  z-index: 1;
  margin-left: -10px;
  transition: all 0.5s ease-out;
}

.side {
  z-index: -1;
  position: absolute;
  width: 56px;
  height: 70px;
  border: solid 3px #FFFFFD;
  left: 1.1%;
  top: 8px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.sideup {
  height: 575px;
  transition: all 0.5s ease-out
}

/*Dustin's Motherfuckin' Shit */

.panel.panel-default.one {
border: none;
border-right: 3px solid #1E4E66;
border-bottom: 3px solid #1E4E66;
border-radius: 0px;
margin-left: 35px;
background: #FFFFFD;
padding-bottom: 7px;
}

.panel.panel-default.two {
  border:none;
  border-right: 3px solid #1E4E66;
  border-top: 3px solid #1E4E66;
  border-radius: 0px;
  height: 450px;
  margin-left: 35px;
  background: #FFFFFD;
}

.container.product_page {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-radius: 0px;
  float: right;
  width: 720px;
  height: 819px;
  margin-right: 39px;
}

.container.overall {
  padding-top: 70px;
  padding-bottom: 100px;
  border-radius: 5px;
}



/*logo*/

.curved-text {
position: absolute;
color: black;
font-family: arial;
font-size: 60px;
left: -45px;
top: 0;
width: 100%;
text-align: center;
transition: transform 0.5s ease-out;
}

.curved-text-under {
position: absolute;
color: black;
font-family: arial;
font-size: 60px;
left: 47px;
top: 56px;
width: 100%;
text-align: center;
transition: transform 0.5s ease-out;
}


.left_side {
position: absolute;
width: 260px;
height: 3px;
top: 76px;
right: -5px;
margin: auto;
border-style: solid;
border-color: black;
background: black;
transition: transform 0.5s ease-out;
}


.right_side {
position: absolute;
width: 85px;
height: 44px;
left: 1px;
top: 85px;
margin: auto;
border-style: solid;
background: black;
border-color: black;
transition: transform 0.5s ease-out;
}


.outer-rim {
position: absolute;
width: 90px;
height: 44px;
left: 171px;
top: 29px;
margin: auto;
background: black;
transition: transform 0.5s ease-out;
}

.container.index {
  width: 100%;
  height: 100%;
  position: fixed;
}

.logo {
position: fixed;
margin-left: 40%;
margin-right: 40%;
width: 20%;
margin-top: 20%;
margin-bottom: 40%;
height: 20%;
}

/*chris stuff*/

.find2{
  position: absolute;
  padding: 35px;
  background-color: #FFFFFD;
  border-left: 3px solid black;
  border-top: 3px solid black;
  left: 344px;
  height: 510px;
  width: 800px;
}

.find1 {
position: absolute;
border-right: 3px solid #0A516D;
border-top: 3px solid #0A516D;
padding-top: 15px;
height: 510px;
}

.row.find {
  margin-top: 75px;
  margin-right: 100px;
  margin-left: 100px;
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: 300px;
}


/*Login page css*/

.container.log {
  width:100%;
  height: 100%;
}

.login {
border-right: 3px solid black;
border-bottom: 3px solid black;
top: 48px;
left: 7px;
position: absolute;
width: 878px;
height: 380px;
}

.username {
position: absolute;
width: 360px;
padding-left: 10px;
padding-right: 10px;
left: 390px;
top: 277px;
border-color: black;
border-width: 2px;
z-index: 1;
}

.password {
position: absolute;
width: 360px;
padding-left: 10px;
padding-right: 10px;
left: 390px;
top: 315px;
border-color: black;
border-width: 2px;
z-index: 1;
}

.sidebutton {
transform: rotate(90deg);
position: absolute;
left: 730px;
top: 300px;
width: 74px;
border-radius: 5px;
background: #FF9D2E;
color: #FFFFFD;
border: none;
z-index: 1;
}

.login-title {
width: 109px;
padding-left: 581px;
padding-top: 126px;
border: solid;
left: 291px;
top: 228px;
position: absolute;
}

.in {
  font-size: 17px;
  color: #FF9D2E;
  font-family: Megrim;
  padding-left: 50px;
}

/*create page*/

.panel.panel-default.create1 {
  border:none;
  border-right: 3px solid #1E4E66;
  border-bottom: 3px solid #1E4E66;
  border-radius: 0px;
  height: 350px;
  margin-left: 35px;
  background: #FFFFFD;
}

.panel.panel-default.create2 {
  border:none;
  border-right: 3px solid #1E4E66;
  border-top: 3px solid #1E4E66;
  border-radius: 0px;
  height: 350px;
  margin-left: 35px;
  background: #FFFFFD;
}

.container.create_page {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-radius: 0px;
  float: right;
  width: 720px;
  height: 720px;
  margin-right: 39px;
}


.textbox { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    margin-top: 10px;
  } 


  #### Dustin, Project Layout Page: Image, instructions, materials ###

/*.col-md-6 ol {
    padding: 3px ;
}*/

.step-number {

}

.col-md-12 ol {
    list-style-type:decimal;
}

.col-md-12 li {
    color: #0A516D;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    border: solid 4px #0A516D;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: #0A516D;
}

.color_text {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

.panel-default>.panel-heading {
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 10px;
    padding-left: 15px;
    border: solid 4px #0A516D;
    border-radius: 7px;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
    background-color: #0A516D;
}

.material_list_font {
    font-style: bold;
    font-size: 15px;
}

.panel-title {
    font-family: 'Pacifico';
    color: #FFFFFF;
    font-size: 20px;
}

.title_instruction {
    font-family: 'Pacifico';
    color: #0A516D;
    padding-left: 35px;
    font-size: 45px;
    margin-bottom: 0;

}

.panel-body.image{
    border: 10px solid #0A516D;
    border-radius: 7px;
    padding: 4px;
    margin-right: 7px;

}

img {
    max-width: 100%;
    max-height: 100%;

}










