<body>

<div class="container overall">
<div class="col-md-4">

<div class="panel panel-default create2">
  <div class="panel-body">
    <button class="button" type="submit"> ADD IMAGE </button>
    <input class="textbox"type="text" placeholder="Image URL"> 
  </div>
</div>


<div class="panel panel-default create1">
  <div class="panel-heading">
    <button class="button" type="submit"> ADD MATERIAL </button>
    <input class="textbox"type="text"> 
  </div>
    <div class="panel-body">
    </div>
  </div>
</div>

<div class="container create_page">
  <div class="row">
    <div class="col-md-6 instruction_title"><p></p></div>
  </div>
</div>
</div>

</body>



