	<div class="row find">
		<form>
			<div class="col-md-4 row-padded border-radius find1"> 
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Search</h2>
					</div>
					<div class="panel-body-checked">
						this is where your search goes
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h2 class="panel-title">Material</h2>
					</div>
					<div class="panel-body" style="min-height: 100px; max-height: 100px; overflow-y: scroll">
						<% @material.each do |m| %> 
						<div>
							<input type="checkbox" class="checkboxes" value="<%= m.name %>" name="<%= m.name %>" >
							<%= m.name %> 
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</form>
		<div class="col-md-8 row-padded border-radius find2"> <h1> Hi im container for your findings</h1>
		</div>
	</div>