<body>
<div class="container overall">
  <div class="col-md-4">

    <form action ='/project' method='post'>
      <div class="panel panel-default create2">
        <div class="panel-body">
        
          <h3 class="instruction-heading">My Profile</h3>
            <h4>Logged in as:   <%=session[:user]%></h4>
        </div>
      </div>


    <div class="panel panel-default create1">
      
         
    </div>


    <div class="container create_page">

      <h3 class="instruction-heading">Projects I'm Working On</h3>

    </div>
    </form>

  </div>
</div>
  
</body>