<body>

<div class="container overall">
<div class="col-md-4">

<div class="panel panel-default one">
  <div class="panel-body">
  </div>
</div>


<div class="panel panel-default two">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
    <div class="panel-body">
    </div>
  </div>
</div>

<div class="container product_page">
  <div class="row">
    <div class="col-md-6 instruction_title"><p></p></div>
  </div>
</div>
</div>

</body>



