<body>


<div class="col-md-4">

<div class="panel panel-default one">
  <div class="panel-body">
    Product Image
  </div>
</div>


<div class="panel panel-default two">
  <div class="panel-heading">
    <h3 class="panel-title">Materials</h3>
  </div>
    <div class="panel-body">
        Panel content
    </div>
  </div>
</div>

<div class="container product_page">
  <div class="row">
    <div class="col-md-6 instruction_title"><p>Instructions</p></div>
  </div>
</div>
</body>





<!-- <div class="row">
  <div class="col-md-4 row-padded">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Picture</h2>
      </div>
      <div class="panel-body">
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title"> Materials</h2>
      </div>
       <div class="panel-body">
       </div>
      </div>
      <div class="col-md-6 row-padded"> <h1>Instructions</h1>
      </div>
      </div>


</div> -->