<div class="container result">
  <form class="display" role="form" action="/result" method="get">
    <div class = "result_one">
      <% @search_projects.each do |m| %> 
        <div>
          <img src= "<%= m.photo %>">
          <%= m.name %> 
        </div>
      <% end %>
    </div>
  </form>
</div>
